.Rproj.user
.Rhistory
.RData
.Ruserdata

# Results & Databases
Results
Databases

# Data
Data/UploadNCBI
Data/PreprocessedData
Data/OtherPaper
Data/NetworkData
Data/OriginalData/NCBI
Data/OriginalData/Traits/NotUsed
Data/OriginalData/PR2CountTable.txt
Data/OriginalData/SILVACountTable.txt

# Skripts
Scripts/Functions/NotUsed
Scripts/linux
Scripts/NotUsed

# Figures
Results/Test
Results/Präsi